

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "roboto", sans-serif;
  font-size: 14px;
  font-style: none;
  line-height: 24px;
  font-weight: 500;
  overflow-x: hidden !important;
  text-align: left;
  position: relative;
  opacity: 0.9;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "roboto", sans-serif;
  color: #0D2649:
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.content {
  max-width: 500px;
  margin: auto;
}